WebStore/web/WEB-INF/wsdl/localhost_8080/myWebService/myWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://store.bookstore.tdin.fe.up.pt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://store.bookstore.tdin.fe.up.pt/">

<xs:element name="getBookList" type="tns:getBookList"/>

<xs:element name="getBookListResponse" type="tns:getBookListResponse"/>

<xs:element name="placeOrder" type="tns:placeOrder"/>

<xs:element name="placeOrderResponse" type="tns:placeOrderResponse"/>

<xs:element name="populateBookList" type="tns:populateBookList"/>

<xs:complexType name="getBookList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookListResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="availability" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeOrder">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="populateBookList">
<xs:sequence/>
</xs:complexType>
</xs:schema>