WebStore/src/conf/xml-resources/web-service-references/myWebService/wsdl/localhost_8080/myWebService/myWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://store.bookstore.tdin.fe.up.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://store.bookstore.tdin.fe.up.pt/" name="myWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://store.bookstore.tdin.fe.up.pt/" schemaLocation="http://localhost:8080/myWebService/myWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="placeOrder">
<part name="parameters" element="tns:placeOrder"/>
</message>
<message name="placeOrderResponse">
<part name="parameters" element="tns:placeOrderResponse"/>
</message>
<message name="getBookList">
<part name="parameters" element="tns:getBookList"/>
</message>
<message name="getBookListResponse">
<part name="parameters" element="tns:getBookListResponse"/>
</message>
<message name="getBook">
<part name="parameters" element="tns:getBook"/>
</message>
<message name="getBookResponse">
<part name="parameters" element="tns:getBookResponse"/>
</message>
<message name="populateBookList">
<part name="parameters" element="tns:populateBookList"/>
</message>
<message name="changeOrderState">
<part name="parameters" element="tns:changeOrderState"/>
</message>
<message name="setOrderDeliveryDate">
<part name="parameters" element="tns:setOrderDeliveryDate"/>
</message>
<portType name="myWebService">
<operation name="placeOrder">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/placeOrderRequest" message="tns:placeOrder"/>
<output wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/placeOrderResponse" message="tns:placeOrderResponse"/>
</operation>
<operation name="getBookList">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/getBookListRequest" message="tns:getBookList"/>
<output wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/getBookListResponse" message="tns:getBookListResponse"/>
</operation>
<operation name="getBook">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/getBookRequest" message="tns:getBook"/>
<output wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/getBookResponse" message="tns:getBookResponse"/>
</operation>
<operation name="populateBookList">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/populateBookList" message="tns:populateBookList"/>
</operation>
<operation name="changeOrderState">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/changeOrderState" message="tns:changeOrderState"/>
</operation>
<operation name="setOrderDeliveryDate">
<input wsam:Action="http://store.bookstore.tdin.fe.up.pt/myWebService/setOrderDeliveryDate" message="tns:setOrderDeliveryDate"/>
</operation>
</portType>
<binding name="myWebServicePortBinding" type="tns:myWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="placeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="populateBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="changeOrderState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setOrderDeliveryDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="myWebService">
<port name="myWebServicePort" binding="tns:myWebServicePortBinding">
<soap:address location="http://localhost:8080/myWebService/myWebService"/>
</port>
</service>
</definitions>