WarehouseGUI/src/conf/xml-resources/web-service-references/warehouseWebservice/wsdl/localhost_8080/warehouseWebservice/warehouseWebservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://warehouse.bookstore.tdin.fe.up.pt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://warehouse.bookstore.tdin.fe.up.pt/">

<xs:element name="addOrder" type="tns:addOrder"/>

<xs:element name="getOrderList" type="tns:getOrderList"/>

<xs:element name="getOrderListResponse" type="tns:getOrderListResponse"/>

<xs:complexType name="getOrderList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderListResponse">
<xs:sequence>
<xs:element name="return" type="tns:warehouseOrder" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="warehouseOrder">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0"/>
<xs:element name="orderId" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="availability" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrder">
<xs:sequence>
<xs:element name="wo" type="tns:warehouseOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>